.form{
  label{
    font-family: "museo-sans",sans-serif;
    font-size: 24px;
    display: block;
    margin-bottom: 5px;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea{
    width: 100%;
    border: none;
    padding: 15px;
    background: #f5f5f5;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"]{
    font-family: "museo-sans",sans-serif;
    font-size: 20px;
  }

  textarea{
    min-height: 400px;
    line-height: 1.4;
    font-family: consolas;
    font-size: 18px;
  }

  &.form--comments textarea{
    font-family: "museo-sans",sans-serif;
  }

  input[type="submit"]{
    width: 100%;
    padding: 25px;
    cursor: pointer;
  }

  .field{
    margin-bottom: 20px;
    &:last-child{
      margin-bottom: 0;
    }
  }
}

.devise-page{
  background: white;
  height: 100%;
}

.user-form{
  width: 90%;
  max-width: 500px;
  padding: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);

  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea{
    box-shadow: 0 3px 0 darken($lightGrey, 10%);
  }

}