.navigation{
  position: fixed;
  top: 23px;
  left: 20px;
  z-index: 5;
  font-family: "museo-sans",sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: $primaryColor;
  font-size: 14px;
  border: 1px solid $primaryColor;
  padding: 10px 15px;
  background: white;

  &:hover{
    background: $primaryColor;
    border-color: white;
    color: white;
  }
}