.post-block{
  width: 90%;
  max-width: 700px;
  margin: 9em auto 5em;
  text-align: left;

  @media only screen and (max-width: 520px){
    margin: 5em auto;
  }

  p,
  .highlight{
    margin-bottom: 25px;
  }

  p > code{
    background: #f7f7f9;
    padding: 3px 5px;
    color: #d01040;
  }

  h2{
    margin: 60px 0 10px;
    font-weight: bold;
    font-size: 30px;
  }

  h3{
    color: $darkGrey;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  img{
    margin-bottom: -10px;
  }

  blockquote{
    margin: 0 0 25px 0;
    padding: 30px;
    background: $darkGrey;
    font-style: italic;

    p{
      margin: 0;
      font-size: 26px;
      color: $mediumGrey;

      em{
        display: block;
        font-size: 14px;
        font-family: "museo-sans",sans-serif;
        font-style: normal;
        text-transform: uppercase;
        margin-top: 10px;
      }
    }
  }
}