.header-aside{
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 38.5%;
	margin-bottom: 0;
	height: 100%;
	background-color: $primaryColor;
  
  @media only screen and (max-width: 1023px){
    position: relative;
    width: 100%;
    bottom: auto;
    top: auto;
    left: auto;
    height: 50%;
  }

  @media only screen and (max-width: 520px){
    height: 100%;
  }

  h1{
    position: absolute;
    left: -3000px;
    opacity: 0;
  }

}

