.header-aside{
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 38.5%;
	margin-bottom: 0;
	height: 100%;
	background-color: $primaryColor;
  
  @media only screen and (max-width: 1023px){
    position: relative;
    width: 100%;
    bottom: auto;
    top: auto;
    left: auto;
    height: 50%;
  }

  @media only screen and (max-width: 520px){
    height: 100%;
  }

  h1{
    position: absolute;
    left: -3000px;
    opacity: 0;
  }

}

#hmbranding-svg{
	position: absolute;
	width: 40%;
  max-width: 300px;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);

}

.hm-svg{
  fill: none;
  stroke: #fff;
  stroke-opacity: 0;
  stroke-width: 15;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 2.5s ease-in forwards;
  -moz-animation: dash 2.5s ease-in forwards;
  -webkit-animation: dash 2.5s ease-in forwards;
}

@-webkit-keyframes dash {
  to {
  	stroke-opacity: 1;
    stroke-dashoffset: 0;
  }
}

@-moz-keyframes dash {
  to {
  	stroke-opacity: 1;
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  to {
  	stroke-opacity: 1;
    stroke-dashoffset: 0;
  }
}