#hmbranding-svg{
  
  .header-aside--show &{
    width: 60px;
    position: fixed;
    top: 10px;
    left: 40px;
    z-index: 2;
    @media only screen and (max-width: 1023px){
      position: absolute;
    }

    path,
    line,
    polyline{
      stroke-width: 25px;
    }

  }

  .header-aside--home &{
    position: absolute;
    width: 40%;
    max-width: 300px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  path,
  line,
  polyline{
    stroke: white;
    stroke-width: 10px;
    fill: transparent;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

}