#hmbranding-svg{
  
  .header-aside--show &{
    width: 60px;
    position: fixed;
    top: 10px;
    left: 40px;
    z-index: 2;
    @media only screen and (max-width: 1023px){
      position: absolute;
    }

  }

  .header-aside--home &{
    position: absolute;
    width: 40%;
    max-width: 300px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

.hm-svg{
  fill: none;
  stroke-width: 15;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 1000;

  .header-aside--show &{
    stroke: white;
    stroke-width: 30;
  }

  .header-aside--home &{
    stroke: #fff;
    stroke-opacity: 0;
    stroke-dashoffset: 1000;
    animation: dash 2.5s ease-in forwards;
    -moz-animation: dash 2.5s ease-in forwards;
    -webkit-animation: dash 2.5s ease-in forwards;
  }
}

@-webkit-keyframes dash {
  to {
    stroke-opacity: 1;
    stroke-dashoffset: 0;
  }
}

@-moz-keyframes dash {
  to {
    stroke-opacity: 1;
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  to {
    stroke-opacity: 1;
    stroke-dashoffset: 0;
  }
}