.tag{
  font-family: "museo-sans",sans-serif;
  display: inline-block;
  padding: 0px 7px;
  background: #e5e5e5;
  font-size: 12px;
  color: $mediumGrey;
}

.icon-tag{
  display: inline-block;
  vertical-align: middle;
  color: $mediumGrey;
}