<div class="post-block">
  <h1 class="u-spacer50">Editing post</h1>

  <%= render 'form' %>

</div>

<footer>
  <div class="wrapper">
    <%= link_to 'Show', @post, class: "button" %>
    <%= link_to 'Back', posts_path, class: "button" %>
  </div>
</footer>