<div class="post-block">
  <h1 class="u-spacer50">New post</h1>

  <%= render 'form' %>
  
</div>

<footer>
  <div class="wrapper">
    <%= link_to 'Back', posts_path, class: "button" %>
  </div>
</footer>
