.u-alignCenter{
	text-align: center;
}

.u-alignRight{
	text-align: right;
}

.u-spacer5{
	margin-bottom: 5px;
}

.u-spacer10{
	margin-bottom: 10px;
}

.u-spacer24{
	margin-bottom: 24px;
}

.u-spacer50{
	margin-bottom: 50px;
}

.u-lowerEmphasis{
	color: rgba(0,0,0,0.4);
	font-size: 14px;
}

.u-uppercase{
	text-transform: uppercase;
}