html,
body,
ul,
ol,
h1,
h2,
h3,
h4,
h5{
	margin: 0;
	padding: 0;
}

.grid__item{ font-size: 18px; }

img{
	width: 100%;
}

.home-content{
	margin-left: 38.5%;
}

.center-block{
	padding: 100px 120px;
	font-family: 'Libre Baskerville', serif;
	font-size: 22px;
	background-color: rgba(0,0,0,0.01);
}