body{
	// font-family: "proxima-nova",sans-serif;
	font-family: 'Libre Baskerville', serif;
	// font-family: "museo-sans",sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5{
	// font-family: "proxima-nova",sans-serif;
	font-family: "museo-sans",sans-serif;
	font-weight: 300;
}

h1{
	font-size: 60px;
	@media only screen and (max-width: 1023px){
    font-size: 60px;
  }
	@media only screen and (max-width: 520px){
    font-size: 45px;
  }
}

p{
	line-height: 1.9;
	margin: 0;
	font-size: 18px;
	@media only screen and (max-width: 520px){
    font-size: 16px;
  }
}

a{
	text-decoration: none;
	color: black;
	border-bottom: 3px solid rgba($primaryColor,0.5);
	transition: all 0.15s ease-in-out;
	
	&:hover{
		border-color: rgba($primaryColor,0.8);
	}
}

.strike{
	display: inline-block;
	position: relative;
	&:after{
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 4px;
		top: 50%;
		background-color: $primaryColor;
		opacity: 0.8;

	}
}