<footer>
  <div class="grid">
      <div class="grid__item two-thirds">
        <p class="footer">Design + Dev by Haris Mahmood &#8226; Developed in Ruby on Rails</p>
      </div>
    </div>
</footer>